<!DOCTYPE HTML>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
            <h5 class="my-0 mr-md-auto font-weight-normal">Local Farm</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="/">На главную</a>
                <a class="p-2 text-dark" href="/farmers">Фермеры</a>
                <a class="p-2 text-dark" href="/products">Продукты</a>
                <a class="btn btn-primary" sec:authorize="isAnonymous()" href="/login">Войти</a>
                <a class="btn btn-primary" sec:authorize="isAuthenticated()" href="/logout">Выйти</a>
            </nav>
        </div>
    <div class="container mt-5">
        <h1>Главная страница</h1>
    </div>
</body>
</html>