<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <h3>Авторизация</h3>
    <form method="post" th:action="@{/login}" >
        <div class="form-group">
            <label for="username">Введите логин</label>
            <input name="username" type="text" class="form-control" id="username" placeholder="Введите логин">
        </div>
        <div class="form-group">
            <label for="password">Введите пароль</label>
            <input name="password" type="password" class="form-control" id="password" placeholder="Введите пароль">
        </div>
        <button class="btn btn-primary" type="submit">Войти</button>
        <nav class="my-2 my-md-2 mr-md-3">
            <a class="btn btn-primary" href="/registration">Регистрация</a>
        </nav>
    </form>
</div>
</body>
</html>